$white: #FFF4EE;
$grey: #494949;
$red: #CF2100;
body
{
    background: $white;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
}
.m1
{
    margin-top:1em;
}
.control-validation
{
    background: $red;
    color: $white;
    font-weight: bold;
    display: block;
    width:100%;
    text-indent: 0.3em;
}
#top
{
    background: $red;
    min-height: 40px;
    color: $white;
    font-weight: bold;
    line-height:2em;
    font-size:1.1em;
}
#logo
{
    width:200px;
    margin-top:2em;
}
#title h2
{
    margin:0;
    font-weight: bold;
    margin-top:50px;
}
#title h4
{
    margin:0;
    margin-bottom:1em;
    color: $grey;
}
#calc-container
{
    margin-right:1em;
}
#info-container
{
    padding-right:1em;
    text-align: justify;
}